@typeparam TEntity
@typeparam TTableDataFilters
@namespace Arinsys.Components.AspNetCore

<table class="@CssClass">
    <thead>
        @if (Head is not null)
        {
            @Head
        }
        else if (Columns is not null && Columns.Any())
        {
            foreach (var column in Columns)
            {
                if (column.Header is not null)
                {
                    @column.Header
                }
                else
                {
                    @column.Label
                }
            }
        }
    </thead>
    <tbody>
        <Virtualize ItemsProvider="@ItemsProvider">
            <ItemContent>
                @if (Body is not null)
                {
                    @Body(context)
                }
                else if (Columns is not null && Columns.Any())
                {
                    foreach (var column in Columns)
                    {
                        if (column.Body is not null)
                        {
                            @column.Body(context)
                        }
                        else
                        {
                            @column.Accessor(context)
                        }
                    }
                }
            </ItemContent>
            <Placeholder>
                @Loading
            </Placeholder>
        </Virtualize>
    </tbody>
</table>
