@namespace Arinsys.AspNetCore.Components.Bootstrap

<div class="panel @Category.GetCategoryCssClass() @CssClass">
    @if (Header is not null)
    {
        <div class="panel-heading">@Header</div>
    }
    @if (Body is not null)
    {
        <div class="panel-body">@Body</div>
    }
    @if (Footer is not null)
    {
        <div class="panel-footer">@Footer</div>
    }
</div>

@code{
    [Parameter]
    public ElementStatusCategory Category { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }
}