@inherits BUIBFormElement<string>
@namespace Arinsys.AspNetCore.Components.Bootstrap

<div class="form-group row @CssClass">
    <label class="@FormDefinition.LabelColumnSpan.GetCssClass()" for="@FormDefinition.GetPrefixedIdentifier(Identifier)">@Label</label>
    <div class="@FormDefinition.InputColumnSpan.GetCssClass()">
        <BUIBInputGroupText Identifier="@Identifier" InputPrepend="@InputPrepend" InputAppend="@InputAppend" Placeholder="@Placeholder"
                            Value="@Value" ValueChanged="@ValueChanged" />
    </div>
</div>

@code{
    [Parameter]
    public string InputPrepend { get; set; }

    [Parameter]
    public string InputAppend { get; set; }
}