@inherits BUIBFormElement<string>
@namespace Arinsys.AspNetCore.Components.Bootstrap

<div class="input-group">
    @if (!string.IsNullOrWhiteSpace(InputPrepend))
    {
        <div class="input-group-prepend">
            <span class="input-group-text">@InputPrepend</span>
        </div>
    }
    <input type="text" value="@Value" @oninput="OnValueChanged" placeholder="@Placeholder" id="@FormDefinition.GetPrefixedIdentifier(Identifier)"
           name="@Identifier" aria-label="@Identifier" class="@($"form-control {IsInvalidCssClass}")" />
    @if (!string.IsNullOrWhiteSpace(InputAppend) || InputAppendBody is not null)
    {
        <div class="input-group-append">
            @if (InputAppendBody is not null)
            {
                @InputAppendBody
            }
            else
            {
                <span class="input-group-text">@InputAppend</span>
            }
        </div>
    }
    @if (IsModified && ValidationMessages.Any())
    {
        @foreach (var message in ValidationMessages)
        {
            <div class="invalid-feedback">@message</div>
        }
    }
</div>

@code {
    [Parameter]
    public string InputPrepend { get; set; }

    [Parameter]
    public string InputAppend { get; set; }

    [Parameter]
    public RenderFragment InputAppendBody { get; set; }
}
