@typeparam TEntity
@typeparam TTableDataFilters
@typeparam TTableColumnDefinition
@typeparam TTableDataResult
@namespace Arinsys.AspNetCore.Components

<table class="@CssClass">
    <thead>
        @if (Head is not null)
        {
            @Head
        }
        else if (Columns is not null && Columns.Any())
        {
            <tr>
                @foreach (var column in Columns)
                {
                    <td>
                        @if (column.Header is not null)
                        {
                            @column.Header
                        }
                        else
                        {
                            @column.Label
                        }
                    </td>
                }
            </tr>
        }
    </thead>
    <tbody>
        <Virtualize ItemsProvider="@ItemsProvider">
            <ItemContent>
                <tr>
                    @if (Body is not null)
                    {
                        @Body(context)
                    }
                    else if (Columns is not null && Columns.Any())
                    {
                        foreach (var column in Columns)
                        {
                            <td>
                                @if (column.Body is not null)
                                {
                                    @column.Body(context)
                                }
                                else
                                {
                                    @column.Accessor(context)
                                }
                            </td>
                        }
                    }
                </tr>
            </ItemContent>
            <Placeholder>
                <tr><td>@Loading</td></tr>                
            </Placeholder>
        </Virtualize>
    </tbody>
</table>
